/* Styling dasar untuk halaman dan canvas */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #70c5ce; /* Latar belakang langit biru */
}

/* Mengatur tampilan canvas di layar */
#gameCanvas {
  display: block;
  background-color: #70c5ce;
  margin: 0 auto;
}

/* Tombol mulai game */
#startButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  font-size: 24px;
  background-color: #32CD32;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Efek hover pada tombol mulai */
#startButton:hover {
  background-color: #28a745;
}

/* Teks Game Over */
.gameOverText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: black;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Teks skor */
.scoreText {
  font-size: 30px;
  color: black;
  font-family: Arial, sans-serif;
}
